#outlined-input-pass 
{
  width: 15cm;
}

#outlined-input-email 
{
  width: 15cm;
}

span {
  margin: 0.3cm;
}

#forPass
{
  position: relative;
  margin-left: 7.5cm;
  margin-bottom: 1cm;
  margin-top: 2cm;
  height: 30cm;
  padding-bottom: 1%;
}

#signIn
{
  width: 37rem;
  /* text-align: center; */
  /* padding: 0.15rem; */
}  

h1 
{
  font-style:oblique;
  text-align: center;
  /* padding-top: 6%; */
  text-align: center;
  color: black;
  font-size: 2cm;
  margin-bottom: 0;
}

#google 
{
  font-size: small;
  max-height: 30px;
}