/* .form-control 
{
  margin: 2rem auto;
  width: 50%;
  max-width: 25rem;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  padding: 1rem;
  text-align: center;
} */

#pass.form-control 
{
  max-width: 35rem;
  text-align: center;
  margin-left: 29.5%;
}

#email.form-control 
{
  max-width: 35rem;
  text-align: center;
  margin-left: 29.5%;
  margin-top: 1cm;
}

#forPass
{
  margin-left: 11cm;
}

#signIn
{
  width: 35rem;
  text-align: center;
  padding: 0.15rem;
}

h1 
{
  font-style:oblique;
  text-align: center;
  padding-top: 6%;
  text-align: center;
  color: black;
  font-size: calc(1.375rem + 15vw);
  margin-bottom: 0;
}